<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <servers>
        <!--  Bestellsystem project repositories  -->
        <server>
            <id>bestellsystem-maven-prod-local</id>
            <username>${env.ARTIFACTORY_USER_RELEASE}</username>
            <password>${env.ARTIFACTORY_PASSWORD_RELEASE}</password>
        </server>
        <server>
            <id>bestellsystem-maven-stage-dev-local</id>
            <username>${env.ARTIFACTORY_USER_STAGE}</username>
            <password>${env.ARTIFACTORY_PASSWORD_STAGE}</password>
        </server>
        <!--  Bestellsystem apis project repositories  -->
        <server>
            <id>bestellsystem-apis-maven-prod-local</id>
            <username>${env.ARTIFACTORY_APIS_USER_RELEASE}</username>
            <password>${env.ARTIFACTORY_APIS_PASSWORD_RELEASE}</password>
        </server>
        <server>
            <id>bestellsystem-apis-maven-stage-dev-local</id>
            <username>${env.ARTIFACTORY_APIS_USER_STAGE}</username>
            <password>${env.ARTIFACTORY_APIS_PASSWORD_STAGE}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>bestellsystem</id>
            <repositories>
                <repository>
                    <id>bestellsystem-maven-prod-local</id>
                    <url>https://bahnhub.tech.rz.db.de/artifactory/bestellsystem-maven-prod-local/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>bestellsystem-maven-stage-dev-local</id>
                    <url>https://bahnhub.tech.rz.db.de/artifactory/bestellsystem-maven-stage-dev-local/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>bestellsystem-apis-maven-prod-local</id>
                    <url>https://bahnhub.tech.rz.db.de/artifactory/bestellsystem-apis-maven-prod-local/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>bestellsystem-apis-maven-stage-dev-local</id>
                    <url>https://bahnhub.tech.rz.db.de/artifactory/bestellsystem-apis-maven-stage-dev-local/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>camunda-bpm-ee</id>
                    <name>Camunda</name>
                    <url>https://bahnhub.tech.rz.db.de:443/artifactory/camunda-remote/</url>
                </repository>
                <repository>
                    <id>default-maven-3rdparty</id>
                    <name>3rdParty</name>
                    <url>https://bahnhub.tech.rz.db.de/artifactory/default-maven-3rdparty</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>mavenDefault</id>
                    <name>Default Maven Repository</name>
                    <url>https://bahnhub.tech.rz.db.de/artifactory/Maven-Central-remote/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <!-- make the profile active all the time  -->
        <activeProfile>bestellsystem</activeProfile>
    </activeProfiles>
    <mirrors>
        <mirror>
            <mirrorOf>central</mirrorOf>
            <url>https://bahnhub.tech.rz.db.de/artifactory/Maven-Central-remote/</url>
            <id>Maven-Central-remote</id>
        </mirror>
    </mirrors>
</settings>